.homeBanner {
  background: url("../../../assets/12.12-web-banner-982x500.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.homeBanner2 {
  background: url("../../../assets/startech-app-banner-315x252.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homeBanner3 {
  background: url("../../../assets/startech-career-315x252.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
